@import './Main.less';

.back-foo{
    position: sticky;
    height: 150px;
    margin-top: 60px;
    background: #bnw-colors[gray9];
}
.back-foo b{
    float: left;
    text-align: center;
    color: #bnw-colors[gray5];
}