@Main_back: #fafafa;

@margin: 10px;
#margin{
    margin-top: 45px;
    margin-bottom: 45px;
}
#center{
    .images{
        position: relative;
        float: none;
        margin: 0 auto !important;
    }
    .containers{
        position: relative;
        left: 0;
        right: 0;
        top: 0px;
        bottom: 0;
        margin: 0 auto;
    }
}
#colors() {
    gBlue1:#f0f5ff;
    gBlue2:#d6e4ff;
    gBlue3:#adc6ff;
    gBlue4:#85a5ff;
    gBlue5:#597ef7; 
    gBlue6:#2f54eb;//white text
    gBlue7:#1d39c4;//white text
    gBlue8:#10239e;//white text
    gBlue9:#061178;//white text
    gBlue10:#030852;//white text
}
#left-animation{
    -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInRight {
        0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
        }
        @keyframes slideInRight {
        0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        }
}
#down-fade-animation{
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInDown {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes fadeInDown {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
}

.product{
    #left-animation();
}
.shop-ico{
    position: absolute;
    top: 2px;
    left: @margin;
    transition: transform .2s;
    &:hover{
        color: #colors[gBlue7];
        transform: scale(1.5);
    }
}
.love-ico{
    .shop-ico();
    left:@margin * 3;
}
.star-rate{
    position: absolute;
    bottom: 2px;
    left:@margin * 22;
}
.price{
   .oldprice();
   left:@margin * 5; 
}
.oldprice{
    position: absolute;
    top: 250px;
    left:@margin * 15;
}
.first-status{
    position: absolute;
    top: 2px;
    left:@margin * 17.2;
}
.second-status{
    .first-status();
    left: @margin * 19;
}
