@Main_back: #fafafa;

#margin{
    margin-top: 45px;
    margin-bottom: 45px;
}
#center{
    .images{
        position: relative;
        float: none;
        margin: 0 auto !important;
    }
    .containers{
        position: relative;
        left: 0;
        right: 0;
        top: 0px;
        bottom: 0;
        margin: 0 auto;
    }
}
#colors() {
    gBlue1:#f0f5ff;
    gBlue2:#d6e4ff;
    gBlue3:#adc6ff;
    gBlue4:#85a5ff;
    gBlue5:#597ef7; 
    gBlue6:#2f54eb;//white text
    gBlue7:#1d39c4;//white text
    gBlue8:#10239e;//white text
    gBlue9:#061178;//white text
    gBlue10:#030852;//white text
}