@import './Main.less';

.img-nav{
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    left: 40px;
    top: 15px;
}
.user-nav{
    position: relative;
    float: right;
    right: 30px;
    top: 30px
}
.shopping-nav{
    .user-nav();
    right: 90px;
}
.header-nav{
    position: relative;
    margin: 0px 0px -17px 0px;
    height: 90px;
    background: #bnw-colors[gray9];
    a{  
        color: #bnw-colors[gray5];
    }
}

