.father {
  position: relative;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 500px;
}
.login {
    position: relative;
    background-color: #ffffff;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 9px -1px black;
    z-index: 2;
  }
  .title{
    position: relative;
    text-align: center;
  
  }
  input{
    outline: none;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    height: 25px;
  }
  input:hover{
   background-color: rgb(236, 232, 240);
  }
  .inner-margin{
    margin-left: 60px;
    margin-right: 60px;
  }
  .submit{
    background-color: cornflowerblue;
    color: #eeeeee;
    margin-top: 50px;
    border: none;
    width: 100%;
    height: 30px;
  }
  .submit:hover{
    background-color: #779eee;
    cursor: pointer;
  }
  .nuser{
    position: relative;
    background-color: cornflowerblue;
    border: none;
    width: 70px;
    height: 470px;
  }
  .rotate {
    position: relative;
    color: #eeeeee;
    top: 0px;
    left: 20px;
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
  }
  
  .nuser:hover{
    background-color: #779eee;
    cursor: pointer;
  }
  
  .nuser-wrapper{
  position: absolute;
  top: 10px;
  right: -25px;
  z-index: 1;
  }
  
  @keyframes mymove{
    from{right:0px;}
    to{right:-85px;}
  }
  
  .img-login{
    display: block;
    width: 65px;
    height: 65px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /*animation: spin 6s;*/
  }
  /*@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/
  .error{
    font-size: 11px;
    color: red;
  }
  
  #Mychart{
    width: 300px;
    height: 200px;
  }
  